@charset "UTF-8";

/* Global Setting */
:root {
	
}

/* Universal tags */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	cursor: default;
}

a {
	text-decoration: none;
	color: #333333
}

ul {
	list-style: none;
	padding-left: 0;
}

li {
	padding-left: 0;
}

main {
	padding-top: 60px;
}