@charset "UTF-8";

/* Global Setting */
:root {
	
}

/* Universal tags */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	cursor: default;
}

a {
	text-decoration: none;
	color: #333333
}

ul {
	list-style: none;
}

main {
	width: 1000px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
}

h1 {
	text-align: center;	
	padding: 50px;
	margin: 0;
}

input[type=text] {
	width: 80%;
}

textarea {
	width: 80%;
	height: 300px;
}

.btn-area {
	text-align: right;
}

.btn-file {
	background-color: slategrey;
    padding: 8px;
    color: #ffffff;
    border: 1px solid #616161;
    border-radius: 4px;
    cursor: pointer;
}