<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 는 mapper 구분 식별자 -->
<!-- type 에서 Member 의 풀경로를 써주지 않는 것은 typeAlias 해줄 것이기 때문 -->
<!-- id 는 primary key -->
<!-- property 는 domain 의 멤버 변수, column 은 DB 내 해당 테이블의 컬럼명을 써서 매치 -->
<mapper namespace="memberMapper">
	<resultMap type="Member" id="memberResultMap">
		<id property="userId" column="USER_ID"></id>
		<result property="userPw" column="USER_PW"></result>		
		<result property="userName" column="USER_NAME"></result>		
		<result property="userEmail" column="USER_EMAIL"></result>		
		<result property="userAge" column="USER_AGE"></result>		
		<result property="userPhone" column="USER_PHONE"></result>		
		<result property="userAddr" column="USER_ADDR"></result>		
		<result property="enrollDate" column="ENROLL_DATE"></result>		
		<result property="updateDate" column="UPDATE_DATE"></result>		
		<result property="mStatus" column="M_STATUS"></result>		
	</resultMap>
	
	<select id="selectOneMember" parameterType="Member" resultMap="memberResultMap">
		SELECT USER_ID, USER_NAME FROM MEMBER WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
	</select>
</mapper>