<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">
	<resultMap type="Notice" id="noticeResultMap">
		<id property="noticeNo" column="NOTICE_NO"/>
		<result property="noticeTitle" column="NOTICE_TITLE"/>
		<result property="noticeContents" column="NOTICE_CONTENTS"/>
		<result property="noticeWriter" column="NOTICE_WRITER"/>
		<result property="nCreateDate" column="N_CREATE_DATE"/>
		<result property="nUpdateDate" column="N_UPDATE_DATE"/>
		<result property="noticeFilePath" column="NOTICE_FILEPATH"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT (*) FROM NOTICE
	</select>
	
	<select id="selectAllList" resultMap="noticeResultMap">
		SELECT * FROM NOTICE ORDER BY N_UPDATE_DATE DESC
	</select>
	
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO NOTICE VALUES (SEQ_NOTICEID.NEXTVAL, 
								   #{noticeTitle}, 
								   #{noticeContents}, 
								   #{noticeWriter}, 
								   SYSDATE, 
								   SYSDATE, 
								   #{noticeFilePath})
	</insert>
	
	<select id="selectOne" resultMap="noticeResultMap">
		SELECT * FROM NOTICE WHERE NOTICE_NO = #{noticeNo}
	</select>
	
	<update id="updateOne">
		UPDATE NOTICE SET NOTICE_TITLE = #{noticeTitle}, 
						  NOTICE_CONTENTS = #{noticeContents},
						  N_UPDATE_DATE = SYSDATE,
						  NOTICE_FILEPATH = #{noticeFilePath}
						  WHERE NOTICE_NO = #{noticeNo}
	</update>
	
	<delete id="deleteOne">
		DELETE FROM NOTICE WHERE NOTICE_NO = #{noticeNo}
	</delete>
</mapper>