<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qnaMapper">
	<resultMap type="Qna" id="qnaResultMap">
		<id property="qnaNo" column="QNA_NO"/>
		<result property="qnaTitle" column="QNA_TITLE"/>
		<result property="qnaContent" column="QNA_CONTENT"/>
		<result property="qnaWriter" column="QNA_WRITER"/>
		<result property="qCreateDate" column="Q_CREATE_DATE"/>
		<result property="qUpdateDate" column="Q_UPDATE_DATE"/>
		<result property="originFileName" column="ORIGINAL_FILENAME"/>
		<result property="renameFileName" column="RENAME_FILENAME"/>
		<result property="qnaFilePath" column="QNA_FILEPATH"/>
		<result property="qnaPublicYn" column="QNA_PUBLIC_YN"/>
		<!-- <result property="qnaCount" column="QNA_COUNT"/> -->
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT (*) FROM QNA WHERE QNA_PUBLIC_YN = 'Y'
	</select>
	
	<select id="selectAllList" resultMap="qnaResultMap">
		SELECT QNA_NO,
			   QNA_TITLE,
			   QNA_CONTENT,
			   QNA_WRITER,
			   Q_CREATE_DATE,
			   Q_UPDATE_DATE
	    FROM QNA
	    WHERE QNA_PUBLIC_YN = 'Y'
	</select>
	
	<select id="selectOneQuestion" resultMap="qnaResultMap">
		SELECT * FROM QNA WHERE QNA_NO = #{qnaNo}
	</select>
	
	<insert id="insertQuestion">
		INSERT INTO QNA VALUES (
			SEQ_QNA.NEXTVAL,
			#{qnaTitle},
			#{qnaContent},
			#{qnaWriter},
			SYSDATE,
			SYSDATE,
			#{qnaPublicYn},
			#{originFileName},
			#{renameFileName}
		)
	</insert>
	
	<update id="updateQuestion">
		UPDATE QNA SET
			QNA_TITLE = #{qnaTitle},
			QNA_CONTENT = #{qnaContent},
			QNA_WRITER = #{qnaWriter},
			Q_UPDATE_DATE = SYSDATE,
			ORIGINAL_FILENAME = #{originFileName},
			RENAME_FILENAME = #{renameFileName},
			QNA_PUBLIC_YN = #{qnaPublicYn}
		WHERE QNA_NO = #{qnaNo} 
	</update>
</mapper>